<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pengzhangdemo.com.myapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".bigbigpeng3.videopath.VideoListActivity"/>
        <activity android:name=".bigbigpeng3.videorecord.RecordActvity"/>

        <service android:name=".bigbigpeng3.videorecord.ScreenRecordService"/>

        <activity
            android:name=".bigbigpeng3.keyboard.KeyBoardActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".bigbigpeng3.BottomSheetViewPageActivity"/>
        <activity android:name=".bigbigpeng3.ViewPageInBottomSheetDialogActivity"/>
        <activity android:name=".bigbigpeng3.FragmentActivity"/>
        <activity android:name=".bigbigpeng3.LiveGiftActivity"/>
        <activity android:name=".bigbigpeng3.NumToPicActivity"/>
        <activity android:name=".bigbigpeng3.DigitalActivity"/>
        <activity android:name=".bigbigpeng3.GiftRemainActivity"/>
        <activity android:name=".bigbigpeng3.DanmuActivity"/>
        <activity android:name=".bigbigpeng3.ParallaxActivity"/>
        <activity android:name=".bigbigpeng3.TagColorActivity"/>
        <activity android:name=".bigbigpeng3.PullStreamActivity"/>
        <activity android:name=".bigbigpeng3.BigBigPengMainActivity"/>




    </application>

</manifest>